.todo-app__filters .btn {
  font-weight: 600;
  color: #6c757d;
  border-color: #6c757d;
}

.todo-app__filters .btn:last-child {
  border-left: none;
}

.todo-app__filters .btn:hover {
  color: #ffffff;
  background-color: #6c757d;
}

.todo-app__filters .btn:active {
  box-shadow: 0 0 0 0.2rem rgba(108,117,125,.5);
}

.todo-app__filters .btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(108,117,125,.5);
}

.todo-app__filters .btn.is-active {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.todo-app__filters .btn.is-active:active {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.todo-app__filters .btn.is-active:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}