.todo-app {
  max-width: 740px;
  margin: 5rem auto 2rem;
  padding: 0 0.75rem;
}

.todo-app__top {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px;
}

.todo-app__bottom {
  margin: 0 0 15px;
}